In [29]:
import numpy as np

In [30]:
#a=np.array([1,2,3]; dtype='int16')  older way?
a1=np.array([1,2,3], np.int16)
a1
print(a1) #if not using jupyter notebooks

[1 2 3]

In [31]:
b1=np.array([[9.0,8.0,7.0],[6.0,5.0,4.0]])
print(b1)

[[9. 8. 7.]
 [6. 5. 4.]]

In [32]:
#get dimension
a1.ndim
#b.ndim  #says 2 don't forget the extra brackets

1

In [33]:
#Get shape vector of size 3
a1.shape

(3,)

In [34]:
b1.shape
#says the rows and the columns

(2, 3)

In [35]:
# get type and size for memory
a1.dtype   # was int32 by default 4bytes, now int16 2bytes

dtype('int16')

In [36]:
#int32 is 4 bytes can specify when creating the array
#get size 
a1.itemsize

2

In [37]:
#get the total size
a1.size * a.itemsize

6

In [38]:
a1.nbytes

6

In [39]:
b1.itemsize  #floats larger than integers, be efficient to fit data

8

In [47]:
a=np.array([[1,2,3,4,5,6,7], [8,9,10,11,12,13,14]])
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

In [48]:
a.shape

(2, 7)

In [49]:
#get a specific element, [r,c] index
#ie get 13, second row 1, 5th column(indexing starts 0)
a[1,5]

13

In [50]:
#use negative elements , same as lists
a[1,-2]

13

In [52]:
#get a specific row , first row all columns 
a[0,:]

array([1, 2, 3, 4, 5, 6, 7])

In [54]:
#get a specific column, ie want the column 3,10, thus all rows, and 2 index in
a[:,2]

array([ 3, 10])

In [58]:
# get more fancy [startindex, endindx, stepsize] :get 2,4,6 from first row
#first is the row, 0, then start at 2nd element indx1, to 6, step by 2
a[0,1:6:2]
#a[0,1:-1:2]  #can still use -ve

array([2, 4, 6])

In [60]:
#change something 
a[1,5] =20
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 20 14]]

In [65]:
a[:,2] = [1,2]  #make similar to what sequence, 
#this selects column 2
print(a)

[[ 1  2  1  4  5  6  7]
 [ 8  9  2 11 12 20 14]]

In [66]:
#3-d example 
b = np.array([[[1,2],[3,4]],[[5,6],[7,8]]])
print(b)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [73]:
#get specific element (work outsid in)
#say you want the 4: farthest outside, which set  want , first set
b[0,1,1]   #want second row of that, 1 : second number 1

4

In [79]:
#can do similar with colon for each dimension
b[0,1,:]

array([3, 4])

In [80]:
b[:,1,:]

array([[3, 4],
       [7, 8]])

In [82]:
#replace, create subsequence same dimension 
b[:,1,:]= [[9,9],[8,8]]

In [83]:
b

array([[[1, 2],
        [9, 9]],

       [[5, 6],
        [8, 8]]])

In [84]:
#how to initialize all sorts of arrays: 
#all 0's matrix
np.zeros(5)    #just pass in the shape to function
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [92]:
np.ones((4,2,2), dtype='int32')

array([[[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]]])

In [93]:
#any other number specify the number 
np.full((2,2),99, dtype='float32')

array([[99., 99.],
       [99., 99.]], dtype=float32)

In [95]:
#full any othe number(full_like)
#take an array already have 
#np.full(a.shape, 4)   #same thing, takes shape, and fills with number
np.full_like(a,4)

array([[4, 4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4, 4]])

In [96]:
#initialize random decimal numbers 
np.random.rand(4,2)   #pass in integer of shape  (4,2,3)

array([[0.88031613, 0.75313009],
       [0.24882887, 0.10641403],
       [0.64670818, 0.65567854],
       [0.08791834, 0.0399967 ]])

In [98]:
#or a.shape above with random sample 
np.random.random_sample(a.shape)

array([[0.62783164, 0.01184585, 0.58386465, 0.91761689, 0.81148567,
        0.61215242, 0.3101359 ],
       [0.23872437, 0.06133458, 0.06661952, 0.56299398, 0.27990181,
        0.00651496, 0.31884124]])

In [100]:
np.random.rand(4,2)

array([[0.58237987, 0.62200781],
       [0.24172821, 0.98319289],
       [0.51858353, 0.27598236],
       [0.40219235, 0.53837197]])

In [106]:
# Random integer values (if don't specify value starts at 0) here 0-7
np.random.randint(7, size=(3,3))

array([[2, 2, 2],
       [4, 0, 3],
       [5, 1, 3]])

In [110]:
np.random.randint(-4,8, size=(3,3))  #to include the 7, go to 8 bc exclusive, -ve nums too

array([[ 7, -3, -3],
       [ 6, -2, -1],
       [ 1,  5,  0]])

In [114]:
#identity matrix, one param, by nature is square 
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [116]:
#useful to repeat an array a few times (here 3 times) 
#this is series so not doing what want
arr=np.array([1,2,3])
r1 = np.repeat(arr,3,axis=0)
print(r1)

[1 1 1 2 2 2 3 3 3]

In [117]:
#make 2 dimensional 
arr=np.array([[1,2,3]])
r1 = np.repeat(arr,3,axis=0)  
print(r1)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

In [118]:
#2d array, when axis =1 then see what saw before 
r1 = np.repeat(arr,3,axis=1)
print(r1)

[[1 1 1 2 2 2 3 3 3]]

In [133]:
#try to create array 5x5,
#all ones on outside, inside all zeros,center is a 9 
output = np.full((5,5), 1)
#output = np.ones((5,5))
print(output)

[[1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]]

In [134]:
#3 by 3 on the inside, fill inner part with zeros 
z = np.full((3,3),0)
#z=np.zeros((3,3))
print(z)

[[0 0 0]
 [0 0 0]
 [0 0 0]]

In [135]:
#fill in the middle element in z, with a 9 
z[1,1] = 9 
print(z)

[[0 0 0]
 [0 9 0]
 [0 0 0]]

In [136]:
#replace the middle part of the 1's matrix 
#which is the first row to the 3rd row
#be middle first column to the 3rd col. 
output[1:4,1:4] =z
print(output)

[[1 1 1 1 1]
 [1 0 0 0 1]
 [1 0 9 0 1]
 [1 0 0 0 1]
 [1 1 1 1 1]]

#### Be careful when copying array!!!

In [142]:
# have two arrays 
a1=np.array([1,2,3])
#a
#b is a direct copy of a 
b1=a
b1[0]= 100
print(b1)
print(a1)

[100   2   3]
[100   2   3]

In [165]:
#a now had 100, variable b has same pointer to a 
#so change value b will change a 
#fix this 
a=np.array([1,2,3])
b = a.copy()
b[0]= 100
print(a)
print(b)

[1 2 3]
[100   2   3]

In [160]:
#math capabilities element wise addition,sub...arithmetic
#have a defined 
print(a)
a + 2    #when add does change array 3,4,5  can do a+=2

[3 4 5]

array([5, 6, 7])

In [161]:
a -2   #note here a is not changed just does the arithmatic

array([1, 2, 3])

In [162]:
a * 2

array([ 6,  8, 10])

In [163]:
a /2

array([1.5, 2. , 2.5])

In [166]:
print(a)    #went to original a definition, ran this and then see resutlt
#is changing along the way 
b = np.array([1,0,1])
a + b

[1 2 3]

array([2, 2, 4])

In [167]:
a**2

array([1, 4, 9], dtype=int32)

In [168]:
#take sin or cos
np.sin(a)

array([0.84147098, 0.90929743, 0.14112001])

In [170]:
# link for all things to do: 
# https://docs.scipy.org/doc/numpy/reference/routines.math.html

In [174]:
#linear algebra, ie matlab does it on matrices. 
#not element wise computations 
#linear algebra rows of first matrix equal to columns of second

#multipyl matrices
a = np.ones((2,3))
print(a)
b= np.full((3,2),2)
print(b) 
#so have 3 col. then 3 rows
#multiply whole thing, get a 2x2 matrix, 2,3/3,2  = 2x2
#know this just see tow 2's

[[1. 1. 1.]
 [1. 1. 1.]]
[[2 2]
 [2 2]
 [2 2]]

In [176]:
# note a*b  will not work bc different sizes
np.matmul(a,b)  #matrix multiply function

array([[6., 6.],
       [6., 6.]])

In [180]:
#ie multiplies first row in first matrix (array)
#by the first column in the second array
#find determinate of the matrix 
#identity matrix has a determinite of 1 
c = np.identity(3)
print(c)
np.linalg.det(c)    #linear algebra determinate

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

1.0

In [181]:
#eigenvalues, inverse of matrix etc...
#  https://docs.scipy.org/doc/numpy/reference/routines.linalg.html

# Determinant
# Trace
# Singular Vector Decompositon
# Eigenvalues
# Matriz Norm 
# Inverse
# Etc...

##### Statistics with NumPy

In [182]:
#min mean max...
stats = np.array([[1,2,3],[4,5,6]])
stats

array([[1, 2, 3],
       [4, 5, 6]])

In [186]:
np.min(stats)  # 1
np.min(stats, axis=0)  # all values at top bc they are mins

array([1, 2, 3])

In [184]:
np.max(stats)

6

In [188]:
#on a row basis as well
np.max(stats, axis=0) #4,5,6

array([4, 5, 6])

In [189]:
np.max(stats, axis = 1) #3,6

array([3, 6])

In [190]:
np.sum(stats, axis=0)   #sum all values going downward

array([5, 7, 9])

In [191]:
np.sum(stats)  #sum all values

21

#### Reorganizing Arrays

In [193]:
#key method 
before = np.array([[1,2,3,4],[5,6,7,8]]) 
print(before)
print(before.shape)  #(2,4)

[[1 2 3 4]
 [5 6 7 8]]
(2, 4)

In [195]:
# make this a 4x2 matrix instead, 8x1 possible ? 
after = before.reshape((8,1))
print(after)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]
 [8]]

In [196]:
after = before.reshape((4,2))
print(after)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

In [197]:
# 2x2x2 
after = before.reshape((2,2,2))
print(after)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [198]:
# as long as it has the same amount of values, it is fair game!
# 2x3  values dont fit: get errors 6 values only

In [199]:
# Vertically stacking vectors or matrices

In [200]:
v1 = np.array([1,2,3,4]) 
v2 = np.array([5,6,7,8])  #only if sizes match or error

np.vstack([v1,v2])

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [201]:
#can create more rows of them while doing this 
np.vstack([v1,v2,v1,v2])

array([[1, 2, 3, 4],
       [5, 6, 7, 8],
       [1, 2, 3, 4],
       [5, 6, 7, 8]])

In [202]:
#  Horizontal stack is similar 
h1=np.ones((2,4))
print(h1)
h2= np.zeros((2,2))
print(h2)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]]
[[0. 0.]
 [0. 0.]]

In [203]:
# want h2 to be on the back of h1 
np.hstack((h1,h2))  #PARENTHESIS OR BRACKETS WORK

array([[1., 1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0., 0.]])

### Miscellaneous 

#####   Load Data from File

In [210]:
#test file with all sorts of data, load into numpy array 
filedata = np.genfromtxt('milk.txt', delimiter=',')   #from text file
#don't have this file , looks like only takes numbers
#changes all the strings to nan
filedata
#automatically casts to a float type. decimal at end 
#what if want to be an integer ? 
filedata.astype('int32')  #bc already printed still same
filedata= filedata.astype('int32')  #force it 
filedata   #changes strings to number int32

array([[-2147483648, -2147483648],
       [-2147483648,         589],
       [-2147483648,         561],
       [-2147483648,         640],
       [-2147483648,         656],
       [-2147483648,         727],
       [-2147483648,         697],
       [-2147483648,         640],
       [-2147483648,         599],
       [-2147483648,         568],
       [-2147483648,         577],
       [-2147483648,         553],
       [-2147483648,         582],
       [-2147483648,         600],
       [-2147483648,         566],
       [-2147483648,         653],
       [-2147483648,         673],
       [-2147483648,         742],
       [-2147483648,         716],
       [-2147483648,         660],
       [-2147483648,         617],
       [-2147483648,         583],
       [-2147483648,         587],
       [-2147483648,         565],
       [-2147483648,         598],
       [-2147483648,         628],
       [-2147483648,         618],
       [-2147483648,         688],
       [-2147483648,         705],
       [-2147483648,         770],
       [-2147483648,         736],
       [-2147483648,         678],
       [-2147483648,         639],
       [-2147483648,         604],
       [-2147483648,         611],
       [-2147483648,         594],
       [-2147483648,         634],
       [-2147483648,         658],
       [-2147483648,         622],
       [-2147483648,         709],
       [-2147483648,         722],
       [-2147483648,         782],
       [-2147483648,         756],
       [-2147483648,         702],
       [-2147483648,         653],
       [-2147483648,         615],
       [-2147483648,         621],
       [-2147483648,         602],
       [-2147483648,         635],
       [-2147483648,         677],
       [-2147483648,         635],
       [-2147483648,         736],
       [-2147483648,         755],
       [-2147483648,         811],
       [-2147483648,         798],
       [-2147483648,         735],
       [-2147483648,         697],
       [-2147483648,         661],
       [-2147483648,         667],
       [-2147483648,         645],
       [-2147483648,         688],
       [-2147483648,         713],
       [-2147483648,         667],
       [-2147483648,         762],
       [-2147483648,         784],
       [-2147483648,         837],
       [-2147483648,         817],
       [-2147483648,         767],
       [-2147483648,         722],
       [-2147483648,         681],
       [-2147483648,         687],
       [-2147483648,         660],
       [-2147483648,         698],
       [-2147483648,         717],
       [-2147483648,         696],
       [-2147483648,         775],
       [-2147483648,         796],
       [-2147483648,         858],
       [-2147483648,         826],
       [-2147483648,         783],
       [-2147483648,         740],
       [-2147483648,         701],
       [-2147483648,         706],
       [-2147483648,         677],
       [-2147483648,         711],
       [-2147483648,         734],
       [-2147483648,         690],
       [-2147483648,         785],
       [-2147483648,         805],
       [-2147483648,         871],
       [-2147483648,         845],
       [-2147483648,         801],
       [-2147483648,         764],
       [-2147483648,         725],
       [-2147483648,         723],
       [-2147483648,         690],
       [-2147483648,         734],
       [-2147483648,         750],
       [-2147483648,         707],
       [-2147483648,         807],
       [-2147483648,         824],
       [-2147483648,         886],
       [-2147483648,         859],
       [-2147483648,         819],
       [-2147483648,         783],
       [-2147483648,         740],
       [-2147483648,         747],
       [-2147483648,         711],
       [-2147483648,         751],
       [-2147483648,         804],
       [-2147483648,         756],
       [-2147483648,         860],
       [-2147483648,         878],
       [-2147483648,         942],
       [-2147483648,         913],
       [-2147483648,         869],
       [-2147483648,         834],
       [-2147483648,         790],
       [-2147483648,         800],
       [-2147483648,         763],
       [-2147483648,         800],
       [-2147483648,         826],
       [-2147483648,         799],
       [-2147483648,         890],
       [-2147483648,         900],
       [-2147483648,         961],
       [-2147483648,         935],
       [-2147483648,         894],
       [-2147483648,         855],
       [-2147483648,         809],
       [-2147483648,         810],
       [-2147483648,         766],
       [-2147483648,         805],
       [-2147483648,         821],
       [-2147483648,         773],
       [-2147483648,         883],
       [-2147483648,         898],
       [-2147483648,         957],
       [-2147483648,         924],
       [-2147483648,         881],
       [-2147483648,         837],
       [-2147483648,         784],
       [-2147483648,         791],
       [-2147483648,         760],
       [-2147483648,         802],
       [-2147483648,         828],
       [-2147483648,         778],
       [-2147483648,         889],
       [-2147483648,         902],
       [-2147483648,         969],
       [-2147483648,         947],
       [-2147483648,         908],
       [-2147483648,         867],
       [-2147483648,         815],
       [-2147483648,         812],
       [-2147483648,         773],
       [-2147483648,         813],
       [-2147483648,         834],
       [-2147483648,         782],
       [-2147483648,         892],
       [-2147483648,         903],
       [-2147483648,         966],
       [-2147483648,         937],
       [-2147483648,         896],
       [-2147483648,         858],
       [-2147483648,         817],
       [-2147483648,         827],
       [-2147483648,         797],
       [-2147483648,         843]])

### Boolean Masking and 
### Advanced Indexing

In [212]:
# can do boolean masking shows where is by True / False
#filedata > 5  # can have all sorts of combinations >=
filedata[filedata > 50]  #here get the actual values > 50

array([589, 561, 640, 656, 727, 697, 640, 599, 568, 577, 553, 582, 600,
       566, 653, 673, 742, 716, 660, 617, 583, 587, 565, 598, 628, 618,
       688, 705, 770, 736, 678, 639, 604, 611, 594, 634, 658, 622, 709,
       722, 782, 756, 702, 653, 615, 621, 602, 635, 677, 635, 736, 755,
       811, 798, 735, 697, 661, 667, 645, 688, 713, 667, 762, 784, 837,
       817, 767, 722, 681, 687, 660, 698, 717, 696, 775, 796, 858, 826,
       783, 740, 701, 706, 677, 711, 734, 690, 785, 805, 871, 845, 801,
       764, 725, 723, 690, 734, 750, 707, 807, 824, 886, 859, 819, 783,
       740, 747, 711, 751, 804, 756, 860, 878, 942, 913, 869, 834, 790,
       800, 763, 800, 826, 799, 890, 900, 961, 935, 894, 855, 809, 810,
       766, 805, 821, 773, 883, 898, 957, 924, 881, 837, 784, 791, 760,
       802, 828, 778, 889, 902, 969, 947, 908, 867, 815, 812, 773, 813,
       834, 782, 892, 903, 966, 937, 896, 858, 817, 827, 797, 843])

In [215]:
## You can index with a list in NumpY
a =np.array([1,2,3,4,5,6,7,8,9])
# want a certain spot 2,3,9 want
a[[1,2,8]]   #pass in a list and can index it 
#thus above works, if true passes, if false does not pass

array([2, 3, 9])

In [216]:
# any 
# any value above is > 50 
np.any(filedata>50 , axis = 0 ) #what columnus greater than 50
#array([False,  True])  gives only 2 columns

array([False,  True])

In [218]:
np.all(filedata > 50, axis=0)  #where all values in column bc axis0 are > 50

array([False, False])

In [221]:
# see by rows
np.any(filedata > 50, axis=1)  #most have one value by row 
np.all(filedata > 50, axis = 1)  # most false bc -ve followed by large num

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [223]:
(filedata > 500) & (filedata < 600)
#all values between range

array([[False, False],
       [False,  True],
       [False,  True],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False,  True],
       [False,  True],
       [False,  True],
       [False,  True],
       [False,  True],
       [False, False],
       [False,  True],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False,  True],
       [False,  True],
       [False,  True],
       [False,  True],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False,  True],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False],
       [False, False]])

In [241]:
#matrix 5x4 1 to 30 numbers going across, 
# how to access first two columns middle 4 values 
a= np.zeros((5,5))
print(a)
print(a[2:4, 0:2])

#how to index a diagonal of numbers starting column index 1
# going to col index 4 , row index 0 to row index 3 
#need two diffeent lists within your indexing 
print(a[[0,1,2,3],[1,2,3,4]])  #rows from 0-3 , and col from 1to 4

#index last two items on the first row 
#along with last two items in last two rows 

print(a[[0,4,5],[3,4]])  #wont work shape mismatch
#a[[0,4,5],3:]  #3 onward  #Cant get this syntax to work 3-5 or 3,4

SyntaxError: invalid syntax (<ipython-input-241-eebfafb2d8cc>, line 15)